{% extends 'base.html' %}

{% block title %}Resultado{% endblock title %}

{% block content %}

    <p class="fs-5 fw-bolder">{{question.question_text}}</p>

    <ul class="list-group mb-3">
        {% for choice in question.choice_set.all %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{choice.choice_text}}
                <span class="badge bg-primary rounded-pill">
                {{choice.votes}} voto{{choice.votes|pluralize}}
                </span>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'enquetes:index' %}">
        <button type="button" class="btn btn-outline-secondary">Votar novamente</button>
    </a>
{% endblock content %}
